* {
	margin: 0 ;
	padding: 0 ; // color combo : EDFEAD D9F489 BDCF88 D95858;
	
} // Used Color Combo : #375A7F #4D7CAE #6A99CB #FCFA70 
	
body { 
	font-family: ' verdana' ,  ' arial' ;
}
nav ,ul {
list-style-type : none;

}

nav,ul,a  {
	display :  block;
	background :  #6A99CB;
	padding: 10px;
	font-size : 20px;
	text-decoration : none;

	text-transform : uppercase;
	color : #FCFA70;
	transition : color 1s ease , background 1s ease , padding 1s ease ;
}
nav,ul,a:hover {
	background:  #6A99CB;  //#474747
	color : #FCFA70;
	padding: 0px;
}

.nav-container img{
	width:100px;
}
.nav-container{
	padding : 0 20px ;
	background :  #6A99CB;
	border-bottom : 3px solid  #ad343e;
}
/*
a:link { background-color: silver;
}
a:visited{ background-color : blue;
text-decoration: underline;
}
a:hover{ color:white;
background-color : grey;
font-weight:bold;
}
a:active{
	background-color: yellow;
}
*/